/.Build/ export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/Build/ export-ignore
/Tests/ export-ignore
/crowdin.yml export-ignore
/phive.xml export-ignore
/rector.php export-ignore
