<?xml version="1.0" encoding="UTF-8"?>
<T3DataStructure>
    <sheets>
        <general>
            <ROOT>
                <type>array</type>
                <el>
                    <settings.fieldsToShow>
                        <label>
                            LLL:EXT:onetimeaccount/Resources/Private/Language/locallang.xlf:plugin.fieldsToShow
                        </label>
                        <config>
                            <type>select</type>
                            <renderType>selectCheckBox</renderType>
                            <minitems>1</minitems>
                            <maxitems>99</maxitems>
                            <itemsProcFunc>
                                OliverKlee\Onetimeaccount\Configuration\FlexForms->buildFields
                            </itemsProcFunc>
                            <default>fullSalutation,name,address,zip,city,email,telephone</default>
                        </config>
                    </settings.fieldsToShow>
                    <settings.requiredFields>
                        <label>
                            LLL:EXT:onetimeaccount/Resources/Private/Language/locallang.xlf:plugin.requiredFields
                        </label>
                        <config>
                            <type>select</type>
                            <renderType>selectCheckBox</renderType>
                            <minitems>0</minitems>
                            <maxitems>99</maxitems>
                            <itemsProcFunc>
                                OliverKlee\Onetimeaccount\Configuration\FlexForms->buildFields
                            </itemsProcFunc>
                            <default>name,email</default>
                        </config>
                    </settings.requiredFields>
                    <settings.systemFolderForNewUsers>
                        <label>
                            LLL:EXT:onetimeaccount/Resources/Private/Language/locallang.xlf:plugin.systemFolderForNewUsers
                        </label>
                        <config>
                            <type>group</type>
                            <internal_type>db</internal_type>
                            <allowed>pages</allowed>
                            <size>1</size>
                            <minitems>1</minitems>
                            <maxitems>1</maxitems>
                            <hideSuggest>1</hideSuggest>
                        </config>
                    </settings.systemFolderForNewUsers>
                    <settings.groupsForNewUsers>
                        <label>
                            LLL:EXT:onetimeaccount/Resources/Private/Language/locallang.xlf:plugin.groupsForNewUsers
                        </label>
                        <config>
                            <type>group</type>
                            <internal_type>db</internal_type>
                            <allowed>fe_groups</allowed>
                            <size>5</size>
                            <minitems>1</minitems>
                            <maxitems>99</maxitems>
                            <hideSuggest>1</hideSuggest>
                        </config>
                    </settings.groupsForNewUsers>
                    <settings.termsAndConditionsPage>
                        <label>
                            LLL:EXT:onetimeaccount/Resources/Private/Language/locallang.xlf:plugin.termsAndConditionsPage
                        </label>
                        <description>
                            LLL:EXT:onetimeaccount/Resources/Private/Language/locallang.xlf:plugin.termsAndConditionsPage.description
                        </description>
                        <config>
                            <type>group</type>
                            <internal_type>db</internal_type>
                            <allowed>pages</allowed>
                            <size>1</size>
                            <minitems>0</minitems>
                            <maxitems>1</maxitems>
                            <hideSuggest>1</hideSuggest>
                        </config>
                    </settings.termsAndConditionsPage>
                    <settings.captcha>
                        <label>
                            LLL:EXT:onetimeaccount/Resources/Private/Language/locallang.xlf:plugin.captcha
                        </label>
                        <config>
                            <type>check</type>
                        </config>
                    </settings.captcha>
                </el>
            </ROOT>
        </general>
    </sheets>
</T3DataStructure>
